.navbar{
    border: 5px solid blueviolet;
    background-color: rgb(236, 193, 236);
    font-size: large;
    font-family: fantasy;
    border-radius: 5px;
    justify-content: center;

}

.navbar-list{
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: space-around;
}
.navbar-list li{
    list-style: none; 
}

.hero{
    padding-top: 20px; 
    background-color: rgb(18, 211, 241);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(62, 56, 56)   
}
.hero img{
    padding: 20px;
    width: 70%;
    height: 200px;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.navbar-list li a{
    text-decoration: none;
    color:rgb(87, 2, 85)
}

body {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

main {
    flex-grow: 1;
}

.projects {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

.card-container{
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    gap:20px


}
.card{
    width: 400px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgb(8, 25, 216);
    overflow: hidden;
    background-color: rgb(174, 123, 221);

}
.card img{
    width: 90%;
    height:200px;
    object-fit: cover;
    padding-bottom: 0px;
}

.card-content{
    padding: 0 10px 10px 30px;

}
.card-content p{
    color:rgb(87, 2, 85)
    
}

.footer{
    text-align: center;
    background-color: rgb(43, 105, 203);

}

.footer-list li{
    list-style: none;

}

.footer-list li a{
    text-decoration: none;
    color: aliceblue;
}